<div class="content">
  <h2>List -> Sentences</h2>
  <div *ngFor="let fields of sentencesArr | keyvalue">
    <div [ngSwitch]="fields.key">
      <ng-template ngSwitchCase="clauses">
        <div>{{ fields.key }} :</div>

        <div
          style="margin-left: 25px"
          *ngFor="
            let fieldsClauses of list.sentences[iSentences].clauses | keyvalue
          "
        >
          {{ fieldsClauses.key }} :
          <div
            style="margin-left: 25px"
            *ngFor="
              let field0 of list.sentences[iSentences].clauses['0'] | keyvalue
            "
          >
            <div [ngSwitch]="field0.key">
              <ng-template ngSwitchCase="components">
                {{ field0.key }} :
                <div
                  style="margin-left: 25px"
                  *ngFor="
                    let fielsComponents of list.sentences[iSentences].clauses[
                      '0'
                    ].components | keyvalue
                  "
                >
                  <app-clauses-components
                    [currentFieldComponents]="fielsComponents.value"
                    [currentFieldComponentsName]="fielsComponents.key"
                  ></app-clauses-components>
                </div>
              </ng-template>

              <ng-template ngSwitchCase="extraParts">
                {{ field0.key }} :
                <div
                  style="margin-left: 25px"
                  *ngFor="
                    let fielsExtraParts of list.sentences[iSentences].clauses[
                      '0'
                    ].extraParts | keyvalue
                  "
                >
                  <app-clauses0-extra-parts
                    [currentFieldExtraParts]="fielsExtraParts.value"
                    [currentFieldExtraPartsName]="fielsExtraParts.key"
                  ></app-clauses0-extra-parts>
                </div>
              </ng-template>

              <ng-template ngSwitchCase="rolesDoc">
                {{ field0.key }} :
                <div
                  style="margin-left: 25px"
                  *ngFor="let field of field0.value | keyvalue"
                >
                  {{ field.key }} : {{ field.value }}
                </div>
              </ng-template>

              <ng-template ngSwitchDefault>
                {{ field0.key }} : {{ field0.value }}
              </ng-template>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template ngSwitchCase="preprocessingInfo"> </ng-template>

      <ng-template ngSwitchCase="skwInfo"></ng-template>
      <ng-template ngSwitchDefault
        >{{ fields.key }} : {{ fields.value }}</ng-template
      >
    </div>
  </div>
</div>
