<div class="conteiner">
  <!-- <p>request-field works!</p>
  <div class="field" *ngFor="let field of currentRequest | keyvalue">
    {{ field.key }} : {{ field.value }}
  </div>
  <hr /> -->

  <!-- <mat-list>
  <mat-list-item>
    <mat-form-field appearance="outline">
      <mat-label>profileType:</mat-label>
      <input
        matInput
        [(ngModel)]="currentRequest.profileType"
        placeholder="Enter profileType"
      />
    </mat-form-field>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <label for="section">section:</label>
    <input
      id="section"
      [(ngModel)]="currentRequest.section"
      placeholder="Enter section"
  /></mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <label for="description">description:</label>
    <input
      id="description"
      [(ngModel)]="currentRequest.description"
      placeholder="Enter description"
    />
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <label for="keyWord">keyWord:</label>
    <input
      id="keyWord"
      [(ngModel)]="currentRequest.keyWord"
      placeholder="Enter keyWord"
    />
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <label for="name">name:</label>
    <input
      id="name"
      [(ngModel)]="currentRequest.name"
      placeholder="Enter name"
    />

    <button mat-raised-button color="accent">Send</button>
  </mat-list-item>
</mat-list> -->

  <div class="fields-form">
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>profileType</mat-label>
      <input
        matInput
        [(ngModel)]="currentRequest.profileType"
        placeholder="Enter profileType"
      />
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline">
      <mat-label>section</mat-label>
      <input
        matInput
        [(ngModel)]="currentRequest.section"
        placeholder="Enter section"
      />
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline">
      <mat-label>description</mat-label>
      <input
        matInput
        [(ngModel)]="currentRequest.description"
        placeholder="Enter description"
      />
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline">
      <mat-label>keyWord</mat-label>
      <input
        matInput
        [(ngModel)]="currentRequest.keyWord"
        placeholder="Enter keyWord"
      />
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline">
      <mat-label>name</mat-label>
      <input
        matInput
        [(ngModel)]="currentRequest.name"
        placeholder="Enter name"
      />
    </mat-form-field>
    <div class="button-form-fields">
      <button class="button-form-fields" mat-raised-button color="accent">
        Apply
      </button>
    </div>
  </div>
</div>
<!-- <div class="fields-input">
  <label for="profileType">profileType:</label>
  <input
    id="profileType"
    [(ngModel)]="currentRequest.profileType"
    placeholder="add profileType"
  />

  <label for="section">section:</label>
  <input
    id="section"
    [(ngModel)]="currentRequest.section"
    placeholder="add section"
  />

  <label for="description">description:</label>
  <input
    id="description"
    [(ngModel)]="currentRequest.description"
    placeholder="add description"
  />

  <label for="keyWord">keyWord:</label>
  <input
    id="keyWord"
    [(ngModel)]="currentRequest.keyWord"
    placeholder="add keyWord"
  />

  <label for="name">name:</label>
  <input id="name" [(ngModel)]="currentRequest.name" placeholder="add name" />
</div> -->

<!-- <label for="profileType">profileType: </label>
<input id="profileType" type="text"> -->

<!-- https://translated.turbopages.org/proxy_u/en-ru.ru.904f65fb-64e0fe80-c2463aef-74722d776562/https/stackoverflow.com/questions/5803023/how-to-place-two-divs-next-to-each-other -->
