<div
  *ngIf="
    !(currentFieldComponentsName === 'undefined');
    else currentFieldComponentsNameNotUndefined
  "
>
  <div
    *ngIf="
      !(currentFieldComponents.component.length === 0);
      then conditionIsTrue;
      else conditionIsFalse
    "
  ></div>

  <ng-template #conditionIsTrue>
    {{ currentFieldComponentsName }} :
    <div
      style="margin-left: 25px"
      *ngFor="let field of currentFieldComponents | keyvalue"
    >
      <div *ngIf="field.key === 'component'; else conditionIsFalse">
        {{ field.key }} :
        <div
          style="margin-left: 25px"
          *ngFor="let fieldFromArrComponent of currentFieldComponents.component"
        >
          <div *ngFor="let fieldComponent of fieldFromArrComponent | keyvalue">
            {{ fieldComponent.key }} : {{ fieldComponent.value }}
          </div>
        </div>
      </div>

      <ng-template #conditionIsFalse>
        {{ field.key }} : {{ field.value }}
      </ng-template>
    </div>
  </ng-template>

  <ng-template #conditionIsFalse>
    {{ currentFieldComponentsName }} : Default values
  </ng-template>
</div>

<ng-template #currentFieldComponentsNameNotUndefined>
  {{ currentFieldComponentsName }} :
  <div *ngFor="let fieldArrUndefined of currentFieldComponentsName">
    <div *ngFor="let fieldUndefined of fieldArrUndefined | keyvalue">
      {{ fieldUndefined.key }} : {{ fieldUndefined.value }}
    </div>
  </div>
</ng-template>

<!-- <div *ngIf="currentFieldComponentsName === 'undefined'">
  <p>HERE</p>
</div> -->

<!-- <div *ngIf="clausesComponent.component.length === 0; else conditionIsFalse">
  <p>Component array empty</p>
</div>
<ng-template #conditionIsFalse>
  <p>Component array Not empty</p>
</ng-template> -->

<!-- <div *ngFor="let component of clausesComponent.component">
  {{ component }}
  <div *ngIf="component.length(); else conditionIsFalse">
    <div *ngFor="let fields of component | keyvalue">
      {{ fields.key }} : {{ fields.value }}
    </div>
  </div>
  <ng-template #conditionIsFalse>
    <p>Component array undefined</p>
  </ng-template>
</div> -->

<!-- <ng-container *ngIf="i === 'asd'; then coursesList; else noCourses">
</ng-container>

<ng-template #coursesList>
  <p>{{ i }} if -> yes</p>
</ng-template>

<ng-template #noCourses>
  <p>{{ i }} if -> no</p>
</ng-template> -->
